<.header>
  New Warehouse
  <:subtitle>Use this form to manage warehouse records in your database.</:subtitle>
</.header>

<.warehouse_form changeset={@changeset} action={~p"/warehouses"} return_to={~p"/warehouses"} />
